footer.footer
    .footer__about
        h4.footer__about-heading About
        p.footer__about-para
            | We are here to delever filter and fresh water in your area
        p.footer__about-para &copy; Vivek Singh Bhadouria, 2021
    .footer__links
        ul.footer__links-list
            li
                a.footer__links-items(href='#') Home
            li
                a.footer__links-items(href='#') Options
            li
                a.footer__links-items(href='#') Service
            li
                a.footer__links-items(href='#') Contact Us
    .footer__media
        img.footer__media-icon(src='../img/icons/facebook (1).png' alt='')
        img.footer__media-icon(src='../img/icons/linkedin.png' alt='')
        img.footer__media-icon(src='../img/icons/twitter.png' alt='')
        img.footer__media-icon(src='../img/icons/youtube.png' alt='')
