extends base 

block content 
    .forgot__password
        .forgot__password-text Forgot Password
        .forgot__password-para
            | Please enter your registerd email, so that password reset link can be
            | sent to your email
        form.form.form-width.margin-top(action='')
            .form--group
                label.form--group-label(for='email') Email
                input#email.form--group-input(type='email' placeholder='vivek@example.com' required='')
            a.btn.forgot__password-btn(href='#') forgot password
