extends base 

block content 
    .reset__password
        .reset__password-text Reset Password
        .reset__password-para Set your new password
        form.form.form-width.margin-top(action='')
            .form--group
                label.form--group-label(for='password') New Password
                input#password.form--group-input(type='password' placeholder='********' required='' minlength='8')
            .form--group
                label.form--group-label(for='passwordconfrim') Re-enter password
                input#passwordconfrim.form--group-input(type='password' placeholder='********' required='' minlength='8')
            a.btn.reset__password-btn(href='#') reset password
