.forgot__password {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;

  &-text {
    font-size: 1.6rem;
    color: $primary-color;
  }
  &-para {
    font-size: 1.3rem;
  }
}
